[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "lib/json"]
	path = lib/json
	url = git@github.com:ArthurSonzogni/nlohmann_json_cmake_fetchcontent.git
[submodule "lib/log4cplus"]
	path = lib/log4cplus
	url = git@github.com:log4cplus/log4cplus.git
